{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/venkey.css'%}">
</head>
<body>
    <header id="main-header">
        <!--Nav_bar-->
        <h1>jspider</h1>
    </header>
    <nav id="nav">
        <a href="#h" id="v">home</a>
        <a href="">about</a>
        <a href="">Us courses</a>
        <a href="">placement</a>
        <a href="">contact</a>
    </nav>
    <section>
        <article>
            <h2>python stack</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium minima quaerat quam repellat nihil eos sapiente voluptas officia est, quos qui nisi sit. Nam accusamus perferendis numquam omnis alias, hic eveniet in tempora architecto suscipit laboriosam necessitatibus non aliquid accusantium voluptates unde corrupti fugit at, molestiae asperiores. Doloremque, sint inventore?</p>
        </article>
        <article>
            <h2>java stack</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi totam itaque autem consectetur, laudantium blanditiis officia laboriosam deleniti, reiciendis doloribus harum error dolorum, sapiente adipisci. Fugit enim repellendus iusto facere similique assumenda aut repudiandae in? Deleniti, quia et, quibusdam a maiores quas pariatur libero, tenetur voluptatum quaerat alias porro.</p>
        </article>
        <article>
            <h2>mern </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi totam itaque autem consectetur, laudantium blanditiis officia laboriosam deleniti, reiciendis doloribus harum error dolorum, sapiente adipisci. Fugit enim repellendus iusto facere similique assumenda aut repudiandae in? Deleniti, quia et, quibusdam a maiores quas pariatur libero, tenetur voluptatum quaerat alias porro.</p>
        </article>
        <article>
            <h2>AWS stack</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi totam itaque autem consectetur, laudantium blanditiis officia laboriosam deleniti, reiciendis doloribus harum error dolorum, sapiente adipisci. Fugit enim repellendus iusto facere similique assumenda aut repudiandae in? Deleniti, quia et, quibusdam a maiores quas pariatur libero, tenetur voluptatum quaerat alias porro.</p>
        </article>
    </section>
    <footer>
        <h3>copyright&copy jspider;</h3>
        <h3>address</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, libero!</p>
        <button>
            <a href="#v" id="h">HOME</a>
        </button>
    </footer>
    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link" >Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="{% url 'ravi'%}">1</a></li>
          <li class="page-item active" aria-current="page">
            <li class="page-item"><a class="page-link" href="{% url 'venkey'%}">2</a></li>
          </li>
          <li class="page-item"><a class="page-link" href="{% url 'venkey'%}">3</a></li>
          <li class="page-item">
            <a class="page-link" href="{% url 'ravi'%}">Next</a>
          </li>
        </ul>
      </nav>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
</body>
</html>